.template-collectorOfferModal img {
	margin: 24px;
}

.template-collectorOfferModal .modal-content {
	padding-bottom: 48px;
	text-align: center;
}

.template-collectorOfferModal .highlight {
	font-weight: bold;
}

.template-collectorOfferModal .stat-description {
	text-align: right;
}

.template-collectorOfferModal .attribute-divider {
	margin-top: 24px;
	color: black !important;
}

.template-collectorOfferModal .value-text {
	font-size: 1.2em;
}

.template-collectorOfferModal .item-stats {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin-bottom: 24px;
	padding: 24px;
}