.template-pagination .pages {
	font-size: 1.2em;
}

.template-pagination .page-number-enabled {
	cursor: pointer;
}

.template-pagination .page-number-disabled {
	opacity: 0;
}

.template-pagination .page-number-current { 
	font-weight: bold;
	color: red;
}

.template-pagination .page-select {
	width: 36px;
	margin: auto;
	display: inline-block;
	text-align: center;
}