.template-itemTemplate .artwork {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-itemTemplate p {
	margin: 5px 20px;
}

.template-itemTemplate .image-thumb {
	margin: 24px auto;
	text-align: center;
	background-color: white;
	opacity: .5;
}

.template-itemTemplate .card-container {
	width: 600px;
	height: 300px;
}

.template-itemThumbnail .img-container {
	text-align: center;
	vertical-align: middle;
	height: 250px;
}

.template-itemThumbnail .image-thumb:hover {
	cursor: pointer;
}

.template-itemInfo .item-attribute {
	color: black;
	font-size: 1.5em;
}

.template-itemInfo .item-attributes {
	margin-top: 12px;
}

.template-itemInfo .item-attribute:hover {
	cursor: default;
}