<template name="itemInfo">
	<div class="template-itemInfo">
		<div class="col-xs-12 no-margin">
			<div class="info-area">
				{{#with itemData this}}

				<h4 class="{{rarity}}">{{title}}</h4>
				<p>{{date}}</p>
				<p>{{artist}}</p>
				<p><span class="{{rarity}}"><strong>{{rarity}}</strong></span></p>
				<p>{{medium}}</p>
				<p>{{height}} x {{width}}</p>
				<p>condition: {{condition}}</p>
				<p>estimated value: {{itemValue item_id}}</p>
				{{#each attributes}}
					<p class="item-attribute">{{text}}</p>
				{{/each}}

				{{/with}}	
			</div>		
		</div>
	</div>
</template>

<template name="itemThumbnail">
	<div class="template-itemThumbnail">
		{{#with imageInfo this}}
		<div class="col-xs-12 no-padding no-margin img-container" style="padding-top: {{padding_top}}px">
			<img class="image-thumb" data-item_id="{{item_id}}" src="/img/paintings/{{filename}}" width="{{image_width}}" height="{{image_height}}"/>
		</div>
		{{/with}}
	</div>
</template>