<template name="login">
    <div class="template-login">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <div class="login-box">
                        <input type="email" class="form-control input-lg" id="login-email" placeholder="email address"/>
                        <input type="password" class="form-control input-lg" id="login-password" placeholder="password"/>
                        <button id="login" class="add-content-btn" type="submit">login</button>
                        <div class="registration-text">
                            <p class="registration-text">Don't have an account? <a href="/register">Click here</a> to register.</p>
                        </div>
                        <div class="forgot-password">
                            <p class="forgot-text">Forget your password? <a href="/reset">Click here</a> to reset.</p>
                        </div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</template>