.template-auctionTable table {
	margin: auto;
	width: 100%;
	border: none;
}

.template-auctionTable td {
	text-align: center;
	border: none;
}

.template-auctionTable tr {
	border: 1px solid gray;
	height: 48px;
}

.template-auctionTable tr:nth-child(even) {
	background-color: #EEEEEE;
}

.template-auctionTable #winning {
	background-color: #E6FFE6;
}

.template-auctionTable #losing {
	background-color: #FFE6E6;
}

.template-auctionTable tr:hover {
	cursor: pointer;
	background-color: #FFFFBB;
}

.template-auctionTable th {
	background-color: black;
	font-size: 1em;
	color: white;
	min-width: 120px;
	text-align: center;
	border-right: 1px solid white;
	min-height: 80px;
}

.template-auctionTable th:hover {
	background-color: #666666;
	cursor: pointer;
}

.template-auctionTable .soon {
	color: red;
	font-weight: bold;
}

.template-auctionTable .action-buttons i {
	color: black;
	opacity: .5;
	font-size: 1.2em;
}

.template-auctionTable .enabled i:hover {
	opacity: 1;
	cursor: pointer;
}

.template-auctionTable .disabled {
	opacity: .2;
	cursor: default;
}

.template-auctionTable .highlight {
	font-weight: bold;
	color: black;
}