<template name="auctionTable">
	<div class="template-auctionTable">
		<div class="col-xs-12 no-padding">
			<table class="auction-table" data-table_id="{{this.table_id}}">
				<tr>
				{{#each header this}}
					{{> headerTemplate this}}
				{{/each}}
				</tr>
				{{#each this.auction}}
					{{#with auction_info this}}
					<tr data-auction_id="{{auction_id}}" id="{{#if winning}}winning{{else}}{{#if losing}}losing{{/if}}{{/if}}">
						<td>
							{{#with thumbnailInfo item_id}}
							<img class="image-thumb preview enabled" src="{{imageURL}}" width="{{image_width}}" height="{{image_height}}"/>
							{{/with}}
						</td>
						{{#with time_remaining expiration}}
						<td class="{{#if soon}}soon{{/if}}">{{remaining}}</td>
						{{/with}}
						<td>{{title}}</td>
						<td>{{date}}</td>
						<td>{{artist}}</td>
						<td><span class="{{rarity}}"><strong>{{rarity}}</strong></span></td>
						<td>{{height}} x {{width}}</td>
						<td>{{condition}}</td>
						<td>
						{{#each attributes}}
							<p class="item-attribute">{{text}}</p>
						{{/each}}
						</td>
						<td class="{{#if history}}highlight{{/if}}">{{current_bid auction_id}}</td>
						<td>{{buy_now}}</td>
						<td class="action-buttons">						
							<span class="place-bid {{#if biddable}}enabled{{else}}disabled{{/if}}" data-auction_id="{{auction_id}}"><i class="fa fa-usd"></i></span>
							<span class="view-history {{#if history}}enabled{{else}}disabled{{/if}}" data-auction_id="{{auction_id}}"><i class="fa fa-history"></i></span>
						</td>
						<td><a href="/user/{{seller}}">{{seller}}</a></td>
					</tr>
					{{/with}}
				{{/each}}
			</table>
		</div>
	</div>
</template>

<template name="headerTemplate">
	<th class="table-header" data-sort="{{sort_id}}" data-table_id="{{table_id}}">
		<div class="row no-margin">
			<div class="col-xs-8">
				<p>{{text}}</p>
			</div>
			<div class="col-xs-4">
				{{#with sorted this}}{{#if sort}}{{#if ascending}}<i class="fa fa-caret-up"></i>{{else}}<i class="fa fa-caret-down"></i>{{/if}}{{else}} {{/if}}{{/with}}
			</div>
		</div>
	</th>
</template>