.template-inventory .artwork {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-inventory p {
	margin: 5px 20px;
}

.template-inventory .button-area {
	font-size: 1em;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}

.template-inventory .button-area > div {
	font-size: 1.5em;
	text-align: center;
}

.template-inventory .remaining-text {
	font-size: .6em;
}

.template-inventory .button-area .disabled{
	opacity: .5;
}

.template-inventory .button-area .enabled {
	color: black;
	opacity: .5;
}

.template-inventory .button-area .enabled:hover {
	opacity: 1;
	cursor: pointer;
	color: black;
}

.template-inventory .item-card {
	border: 1px solid black;
	width: 504px;
	height: 300px;
	display: inline-block;
	margin: 24px 24px;
	background-color: #EEEEEE;
}


/*TABLE CSS*/
.template-inventory table {
	margin: auto;
	width: 100%;
	border: none;
}

.template-inventory td {
	text-align: center;
	border: none;
}

.template-inventory tr {
	border: 1px solid gray;
	height: 48px;
}

.template-inventory tr:nth-child(even) {
	background-color: #EEEEEE;
}

.template-inventory tr:hover {
	cursor: pointer;
	background-color: #FFFFBB;
}

.template-inventory th {
	background-color: black;
	font-size: 1em;
	color: white;
	min-width: 120px;
	text-align: center;
	border-right: 1px solid white;
	min-height: 80px;
}

.template-inventory th:hover {
	background-color: #666666;
	cursor: pointer;
}

.template-inventory .soon {
	color: red;
	font-weight: bold;
}

.template-inventory .action-buttons i {
	color: black;
	opacity: .5;
	font-size: 1.2em;
}

.template-inventory .enabled i:hover {
	opacity: 1;
	cursor: pointer;
}

.template-inventory .disabled {
	opacity: .2;
	cursor: default;
}

.template-inventory .highlight {
	font-weight: bold;
}

.template-inventory {
	margin-bottom: 100px;
}