<template name="inventory">
	<div class="template-inventory">
		<h1>Inventory</h1>
		{{#each owned}}
			<div class="item-card" data-painting-id="{{this._id}}">
				<div class="row no-padding no-margin">
					<div class="col-xs-7 no-padding no-margin">
						{{>itemInfo this._id}}
					</div>
					<div class="col-xs-5 no-padding no-margin">
						<div class="image-thumbnail">
							{{> itemThumbnail this._id}}
						</div>
						<div class="col-xs-12">
							<div class="row button-area">
								{{#if onDisplay this._id}}
								<div class="col-xs-12">
									<span class="remaining-text">on display - {{time_remaining this._id}}</span>
								</div>
								{{else}}
								<div class="col-xs-4">
									<span class="quick-sell enabled"><i data-item_id="{{this._id}}" class="fa fa-usd"></i></span>
								</div>
								<div class="col-xs-4">
									<span class="auction {{#if can_auction}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-gavel"></i></span>
								</div>
								<div class="col-xs-4">
									<span class="display {{#if can_display}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-picture-o"></i></span>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>