.template-inventory .artwork {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-inventory p {
	margin: 5px 20px;
}

.template-inventory button {
	font-size: 1em;
	width: 200px;
	height: 36px;
}

.template-inventory button.disabled{
	opacity: .5;
}

.template-createAuctionModal .highlight, .template-onDisplayModal .highlight {
	font-weight: bold;
	color: black;
}

.template-createAuctionModal textarea  {
	width: 100%;
	height: 36px;
	resize: none;
	font-size: 1.2em;
	text-align: center;
}

.template-createAuctionModal #duration  {
	width: 50%;
	height: 36px;
	resize: none;
	font-size: 1.2em;
	text-align: center;
}

.template-createAuctionModal .modal-content {
	margin-bottom: 64px;
}

.template-createAuctionModal .quick-bid {
	border-bottom: 1px solid black;
	margin: 24px auto;
	padding: 24px;
}

.template-createAuctionModal .auction-parameters {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 24px auto;
	padding: 24px;
}

.template-createAuctionModal .errors {
	border-top: 1px solid black;
	margin-top: 24px;
	padding: 24px;
}

.template-createAuctionModal .error-text, .template-onDisplayModal .error-text {
	color: red;
}