<template name="registration">
    <div class="page-content template-registration">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <form id="register-form" action="action">
                    <div class="row">
                        <div class="col-xs-12" id="errors">
                            <h2>Please correct the following errors</h2>
                            {{#each error}}
                            <p>{{this}}</p>
                            {{/each}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control input-lg" id="screen_name" placeholder="Screen Name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <input type="email" class="form-control input-lg" id="email" placeholder="*E-mail Address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="password-instructions">(passwords must contain an uppercase letter, lowercase letter, and a number)</h5>
                        </div>
                        <div class="col-xs-6 top-label">
                            <input type="password" class="form-control input-lg" id="password" placeholder="*Password">
                        </div>

                        <div class="col-xs-6 top-label">
                            <input type="password" class="form-control input-lg" id="rtpassword" placeholder="*Re-enter password">
                        </div>
                    </div>

                    <!-- need a date selector for birthday -->

                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <button id="register-button" class="btn">Register</button> 
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</template>