.template-randomDrop .drop {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-randomDrop p {
	margin: 5px 20px;
}

.template-randomDrop .button-area {
	font-size: 1em;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}

.template-randomDrop .button-area > div {
	font-size: 1.5em;
	text-align: center;
}

.template-randomDrop .remaining-text {
	font-size: .6em;
}

.template-randomDrop .button-area .disabled{
	opacity: .5;
}

.template-randomDrop .crate-buttons .disabled{
	opacity: .5;
}

.template-randomDrop .button-area .enabled {
	color: black;
	opacity: .5;
}

.template-randomDrop .button-area .enabled:hover {
	opacity: 1;
	cursor: pointer;
	color: black;
}

.template-randomDrop .item-card {
	border: 1px solid black;
	width: 504px;
	height: 300px;
	display: inline-block;
	margin: 24px 24px;
	background-color: #EEEEEE;
}

.pick-section, .template-dropAnimationModal .reward {
	margin: 48px auto;
}

.template-randomDrop .crate-buttons button {
	background-color: white;
	width: 260px;
	font-weight: bold;
	font-size: 1em;
}

#drop-button {
	background-color: black;
}

.template-randomDrop .bronze-button {
	border: 1px solid #D8947D;
	color: #D8947D;
}

.template-randomDrop .silver-button {
	border: 1px solid #AAAAAA;
	color: #AAAAAA;
}

.template-randomDrop .gold-button {
	border: 1px solid #D8AF5C;
	color: #D8AF5C;
}

.template-randomDrop .platinum-button {
	border: 1px solid #BFBFBF;
	color: #BFBFBF;
}

.template-randomDrop .diamond-button {
	border: 1px solid #93CFCF;
	color: #93CFCF;
}