.template-navbar .nav-icon {
	font-size: 3.0rem;
	margin-right: 20px;
	color: white;
	opacity: .75;
}

.template-navbar .nav-icon:hover {
	opacity: 1;
}

.template-navbar {
	background-color: black;
	color: white;
	height: 64px;
	padding-top: 20px;
}

.template-navbar {
	position: static;
}

.template-navbar .ticket-info {
	margin-top: 24px;
}

.template-navbar .ticket-button {
	font-size: 3.0rem;
	opacity: .75;
}

.template-navbar .npcs-met {
	color: #FFFFFF;
}

.template-navbar .npcs-met:hover {
	opacity: 1;
	color: #FFFFFF;
}

.template-navbar .npcs-met:focus {
	color: #FFFFFF;
}

.template-navbar .af-color {
	color: #FF33CC !important;
}

.template-navbar .af-color:hover {
	opacity: 1;
}