<template name="userGallery">
	<div class="template-userGallery">
		<div class="container">
			{{#with entryInfo screen_name}}
			{{#if paid}}
			<div class="row no-padding no-margin">
				<div class="npc-area">
					{{#each npc owner_id}}
						<i data-npc_id="{{_id}}" class="npc {{quality}} fa {{icon}} {{#if unmet _id}}enabled{{else}}disabled{{/if}}"></i>
					{{/each}}
				</div>
			</div>
			<h2>{{screen_name}} - Featured Works</h2>
			{{#each displayed screen_name}}
				<div class="item-card" data-painting-id="{{this._id}}">
					<div class="row no-padding no-margin">
						<div class="col-xs-7 no-padding no-margin">
							{{>galleryItemInfo this._id}}
						</div>
						<div class="col-xs-5 no-padding no-margin">
							<div class="image-thumbnail">
								{{>galleryItemThumbnail this._id}}
							</div>
							<div class="col-xs-12">
								<div class="row button-area">
									<span class="remaining-text">{{time_remaining this._id}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}

			{{else}}
			<div class="col-xs-12">
				<div class="row">
					<h4>entry fee: <span class="highlight af-color">{{entry_fee_text}}</span></h4>
					<button class="{{#if pay_fee_enabled}}enabled{{else}}disabled{{/if}}" id="enter-button" data-owner_id="{{owner_id}}">pay fee</button>
				</div>
			</div>
			{{/if}}
			{{/with}}
		</div>
	</div>
</template>