<template name="testTemplate">
	{{#with artwork}}
		<div class="item-card" data-painting-id="{{this._id}}">
			<div class="row no-padding no-margin">
				<div class="col-xs-6 no-padding no-margin">
					{{>artworkInfo this._id}}
				</div>
				<div class="col-xs-6 no-padding no-margin">
					<div class="image-thumbnail">
						{{> artworkThumbnail this._id}}
					</div>
				</div>
			</div>
		</div>
	{{/with}}
</template>

<template name="artworkInfo">
	<div class="template-itemInfo">
		<div class="col-xs-12 no-margin">
			<div class="info-area">
				{{#with artworkData this}}

				<h4 class="{{rarity}}">{{title}}</h4>
				<p>{{date}}</p>
				<p>{{artist}}</p>
				<p>{{filename}}</p>
				<p><span class="{{rarity}}"><strong>{{rarity}}</strong></span></p>
				<p>{{height}} x {{width}}</p>
				{{/with}}	
			</div>		
		</div>
	</div>
</template>

<template name="artworkThumbnail">
	<div class="template-itemThumbnail">
		{{#with artworkInfo this}}
		<div class="col-xs-12 no-padding no-margin img-container" style="padding-top: {{padding_top}}px">
			<img class="image-thumb" src="{{imageURL}}" alt="{{title}}" width="{{image_width}}" height="{{image_height}}"/>
		</div>
		{{/with}}
	</div>
</template>