.template-onDisplayModal .modal-content {
	padding-bottom: 48px;
	text-align: center;
}

.template-onDisplayModal .auction-parameters {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 24px auto;
	padding: 24px;
}

.template-onDisplayModal #duration {
	font-size: 1.2em;
	margin-bottom: 24px;
}

.template-onDisplayModal .highlight {
	font-weight: bold;
}