<template name="previewModal">
	<div class="template-previewModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with auctionData}}
	                <h2><span class="highlight">{{title}}</span> by <span class="highlight">{{artist}}</span></h2>
			        {{/with}}
	            	{{#with imageInfo itemId}}
					<img class="image-thumb" src="{{imageURL}}" width="{{image_width}}" height="{{image_height}}"/>
					<!-- <img class="image-thumb" src="img/paintings/{{filename}}" width="{{image_width}}" height="{{image_height}}"/> -->
					{{#if biddable}}
			        <button id="place-bid" type="button" class="btn btn-default">place bid</button>
			        {{/if}}
			        <button id="close-button" type="button" class="btn btn-default">close</button>
					{{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>