<template name="placeBidModal">
	<div class="template-placeBidModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with auctionData}}
	                <h2>Place your bid for <span class="highlight">{{title}}</span> by <span class="highlight">{{artist}}</span></h2>
	                <div class="row quick-bid">
			            <button id="bid-minimum" type="button" class="btn btn-default">bid minimum - ${{minimum}}</button>
			            {{#if canBuy}}
			            <button id="buy-now" type="button" class="btn btn-default">buy now - ${{buy_now}}</button>
			            {{/if}}
			        </div>
                	<div class="row">
                		<p>funds available: ${{balance}}</p>
                	</div>
	                <div class="row">
		                <textarea id="bid-amount" placeholder="bid amount"></textarea>
		            </div>
		            <div class="row modal-buttons">
			            <button id="ok-modal" type="button" class="btn btn-default">ok</button>
			            <button id="cancel-modal" type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
			        </div>
			        <div class="errors">
		            	{{#each error}}
		            	<p class="error-text">{{this}}</p>
		            	{{/each}}
	            	</div>
			        {{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>