<template name="quickSellModal">
	<div class="template-quickSellModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with sellData}}
	                <h2>Sell <span class="highlight">{{title}}</span> by <span class="highlight">{{artist}}</span> for <span class="highlight">{{sellPrice itemId}}?</span></h2>
			        {{/with}}
	            	{{#with imageInfo itemId}}
					<img class="image-thumb" src="/img/paintings/{{filename}}" width="{{image_width}}" height="{{image_height}}"/>
			        <button id="sell-artwork" type="button" class="btn btn-default">sell</button>
			        <button id="close-button" type="button" class="btn btn-default">close</button>
			        {{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>